{% extends 'en/base.html' %}
{% load static %}
{% block content %}
       <!-- Start Page Title Area -->
    <div class="page-title-area bg-9">
        <div class="container">
            <div class="page-title-content">
                <h2>Certificate</h2>

                <ul>
                    <li>
                        <a href="{% url 'index' %}">
                            Home
                        </a>
                    </li>

                    <li class="active">certificate</li>
                </ul>
            </div>
        </div>

        <div class="page-bg-shape">
            <img src="{% static 'images/page-bg/page-bg-shape.png' %}" alt="Image">
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Products Area -->
    <section class="products-area products-area-page pt-100 pb-100">
        <div class="container">
            <div class="section-title">
                <span class="top-title">OUR PRODUCTS</span>
                <h2>Visit Our Shops To Buy</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam aliquam ullam officia facere optio
                    ducimus aliquid minus quod, minima voluptates incidunt</p>
            </div>

            <div class="row">
                {% for i in products %}
                <div class="col-lg-3 col-sm-6">
                    <div class="single-product">
                        <div class="product-img">
                            <img src="{{ i.img.url }}" alt="images">

                            <ul class="social-icon">
                            </ul>
                        </div>

                        <div class="product-content">
                            <h3>
                                <a href="{% url 'certificate_detail_ru' i.id %}">
                                    {{ i.title}}
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Products Area -->
{% endblock %}